[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
jupyter = "*"
jupytext = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
numpy = "*"
pandas = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
